<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>To-Do lists</title>
				<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script> 
<div class="container">

      <div class="row">
        <div class="col-6 offset-3 jumbotron">
          <div class="text-center">
						
						<h1>{% block header_text %}{% endblock %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock %}">
								<input name="item_text" id="id_new_item" 
                          class="form-control input-lg"
													placeholder="Enter a to-do item" />
								{% csrf_token %}
						</form>
          </div>
        </div>
      </div>

			<div class="row">
        <div class="col-6 offset-3">
        {% block table %}
        {% endblock %}
			  </div>
      </div>

    </body>

</html>
